{% assign people = site.people %}
{% assign current-member = "" | split: "" %}

{% for person in people %} 
  {% if person.image_path != '/assets/images/headshots/placeholder.png' %} 
    {% assign current-member = current-member | push: person %}
  {% endif %}
{% endfor %}

{% assign alumni_empty_or_non_int = "" | split: "" %}
{% assign alumni_not_empty = "" | split: "" %}

{% for member in current-member %}
  {% if member.alumni == "" or member.alumni == nil %}
    {% assign alumni_empty_or_non_int = alumni_empty_or_non_int | push: member %}
  {% else %}
    {% assign is_number = true %}
    {% for char in member.alumni %}
      {% if char < '0' or char > '9' %}
        {% assign is_number = false %}
      {% endif %}
    {% endfor %}
    {% if is_number %}
      {% assign alumni_not_empty = alumni_not_empty | push: member %}
    {% else %}
      {% assign alumni_empty_or_non_int = alumni_empty_or_non_int | push: member %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign alumni_not_empty = alumni_not_empty | sort: 'alumni' | reverse %}
{% assign sorted_members = alumni_empty_or_non_int | concat: alumni_not_empty %}


<div class="collage-container">
  <div class="collage-item">
    {% for person in sorted_members limit:4 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:5 offset:5 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:5 offset:10 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:6 offset:16 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:5 offset:21 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:5 offset:26 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:6 offset:32 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:5 offset:38 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in sorted_members limit:4 offset:41 %}
      <a href="{{ site.baseurl }}#{{ person.bio_url }}">
      {% if person.alumni == nil %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% else %}
        <img style="-webkit-filter:grayscale(92.5%); filter:grayscale(92.5%)" src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endif %}
      </a>
    {% endfor %}
  </div> 
</div>
