{% assign people = site.people %}
{% assign current-member = site.array %}

{% for person in people %}
  {% if person.image_path != '/assets/images/headshots/placeholder.png' %}
    {% assign current-member = current-member | push: person %}
  {% endif %}
{% endfor %}

<div class="collage-container">
  <div class="collage-item">
    {% for person in current-member limit:4 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:4 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:9 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:14 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:19 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:24 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:5 offset:29 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <div class="collage-item">
    {% for person in current-member limit:4 offset:34 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div>
  <!-- <div class="collage-item">
    {% for person in current-member limit:3 offset:15 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
    {% for person in current-member limit:3 offset:18 %}
      <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
    {% endfor %}
  </div> -->
</div>
